
.card {
	width: 20%;
	height: 75%;
	
	top: 84px;
	right: 5%;
	
	position: fixed;
	
	margin-top: 30px;
	
	background-color: rgba(20, 10, 0, 0.8);
	
	-webkit-border-radius: ${card_border_radius}&unit;
	-moz-border-radius:    ${card_border_radius}&unit;
	border-radius:         ${card_border_radius}&unit;
	
	-moz-transform-style: preserve-3d;
	-moz-transition: all 0.8s ease-out;
}

.card_insert {
	padding: 12.5px;
}

.card_title {
	font-family: helvetica;
	color: white;
	text-align: center;
}

.card_title_heading {
	color: white;
	font-size: 26pt;
}

.card_heading_separator {
	width: 100%;
	background-color: rgba(240,231,250, 0.2);
	height: 2px;
}

.card_content {
	padding: 12px;
	color: darkGray;
}

.card-item {
}

.card-text {
	color: burlyWood;
}

.card-image {
	background-color: wheat;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 90%;
	text-align: center;
	font-size: 14pt;
	color: black;
}

.card-text>a {
	color: cornflowerBlue;
}

.card-special {
	color: cornflowerBlue;
}

.card_container {
	-moz-perspective: 450px;
	position: fixed;
	
	-moz-transition: all 0.2s ease-out;
}

.card_deckview {
	-moz-transform: ${card_deckview_transform};
	right: -150px;
	cursor: pointer;
	opacity: 0.9;
	background-color: rgba(50, 50, 36, 1);
	border: 2px solid black;
}

.card_deckview:hover,.hovering {
	-moz-transform: ${card_deckview_hover_transform};
	opacity: 1;
	background-color: rgba(20, 10, 0, 0.8);
	border: 2px solid orange;
}

#info_deck {
	width: 25%;
	height: 100%;
	
	position: fixed;
	
	margin-top: ${header_space}&unit;
}