html, body {
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
	font-family: helvetica,arial,sans-serif;
	overflow: hidden;
}

#header {
        padding: 0px;
		margin: auto;
		border: 0px;
}

#map {
	padding:0;
	position: absolute;
	bottom: 0px;
	left:0px;
	right: 0px;
	margin: auto;
	border-color: #243C5F;
}

.roundedCorners {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
}

div.sideInfoWindow	{
	border-radius: 7px 0px 0px 7px; 
	-moz-border-radius: 7px 0px 0px 7px; 
	-webkit-border-radius: 7px 0px 0px 7px; 
	border: 2px solid #243C5F;
	background-color: white;
	position: fixed;
	padding: 4px;
	width: 200px;
	top: 125px;
	right: -3px;
	margin: auto;
	text-align:left;
	z-index:10;
}
.navBar {
	position:relative;
	left:20px;
	top: 5px;
	font-size: 85%;
}

#header {
	width: 100%;
	height: 84px;
	
	position: fixed;
	z-index: 1;
}

.div-box {
	background-color: white;
}

#searchDiv {
	border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 7px 7px 7px 7px; 
	-webkit-border-radius: 7px 7px 7px 7px; 
	border: 2px solid #243C5F;
	background-color: white;
	position: fixed;
	padding: 4px;
	width: 200px;
	top: 25px;
	left: 5px;
	margin: auto;
	text-align:left;
	z-index:100;
	vertical-align="middle";
}
#layersDiv {
	border-radius: 0px 7px 7px 7px; 
	-moz-border-radius: 0px 0px 7px 7px; 
	-webkit-border-radius: 0px 0px 7px 7px; 
	border: 2px solid #243C5F;
	background-color: white;
	position: fixed;
	padding: 4px;
	width: 200px;
	top: 25px;
	left: 5px;
	text-align:left;
	z-index:100;
	vertical-align="middle";
	font-color:black;
}

.zoommainIcon { background-image:url(http://earth.geog.ucsb.edu/icm/images/nav_maincampus.png); width:16px; height:16px; background-repeat:no-repeat; }
.zoomfullextIcon { background-image:url(http://earth.geog.ucsb.edu/icm/images/nav_fullextent.png); width:16px; height:16px; background-repeat:no-repeat; }
.zoomprevIcon { background-image:url(http://earth.geog.ucsb.edu/icm/images/nav_previous.png); width:16px; height:16px; background-repeat:no-repeat; }
.zoomnextIcon { background-image:url(http://earth.geog.ucsb.edu/icm/images/nav_next.png); width:16px; height:16px; background-repeat:no-repeat; }
