html { height: 100% }
body { height: 100%; margin: 0; padding: 0; overflow: hidden; }
#map_canvas { height: 100%; width: 80%; left:0; }

#dash {
  right: 0;
  width: 20%;
  height: 100%;
  top: 0;
  position: fixed;
}

.control {
  margin-left: 7%;
  width: 85%;
  padding-top: 12px;
  text-align: center;
}

input[disabled="true"] {
  background-color: #f6f6f8;
  border-style: groove;
}

#dash>div {
  width: 85%;
  padding-top: 20px;
  text-align: center;
}

#dash>div#info {
	width: 100%;
}

.control>div>input {
  text-align: center;
}

.control span {
  text-align: right;
}

#dash .button>input.update {
	text-align: center;
}

.control span,#dash input {
  text-align: left;
  width: 49%;
  display: inline-block;
  font-family: arial;
}

#dash .button>input.emulate {
	text-align: center;
}